/* TODO: 
  • Try using SASS or SCSS 
  • use variabels in a way more effective
  • apply svg for icons and have a reel around like insta stories
  • Make it responsive
  • Add some sort of JS Fucnctionality
 */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: hsl(177, 50%, 85%);
  --imported-font-size: "Roboto";
  --component-text-color: black;

  /* shadow based on body background */
  --component-shadow: hsl(177, 50%, 65%);
  --component-bg-color: white;
  --component-btn-color: hsl(202, 66%, 31%);
  --component-svg-color: hsl(177, 50%, 65%);
  
}

body {
  background: var(--body-bg-color);
  font-family: var(--imported-font-size), sans-serif;
  font-weight: 100;
  letter-spacing: .4px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  border-radius: 15px;
  background-color:white;
  box-shadow: 0px 6px 10px 0px var(--component-shadow);
}

.component {
  padding: 36px 32px;
  display: flex;
}

.component + .component {
  border-top: 1px solid rgba(0, 0, 0, 0.082);
}

.component__text {
  color: var(--component-text-color);
  list-style: none;
  margin-right: 196px;
}

.component__title {
  margin-bottom: 14px;
}

.component__btn {
  background: var(--component-svg-color);
  border-radius: 200%;
  
  border: none;
  outline: none;
  
  width: 40px;
  height: 40px;
  
  align-self: center;
}

.component__btn.component__btn-logo {
  margin-right: 12px;
  background: white;
  border: 1px dashed black;    
}


/* TODO: Bumping crredit link infinitely */
.credits {
  position: absolute;
  bottom: 0;
  right: 0;

  margin: 15px;
}



/* colors and position for svg is applied in "stroke" attribute inside "line" tag */