* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fontFamily: "Roboto";
  --fontsize-nav: 0.95rem;
  --bg-Advertisement: hsl(46deg 100% 80%);
  --clr-Advertisement: hsl(41deg 100% 17%);
  --fsize-Advertisement: 1rem;
  --fsize-Button: 0.85rem;
  --bg-Button: hsl(189, 81%, 31%);
  --bg-ButtonHover: hsl(189, 81%, 21%);
  --pd-Button: 0.7rem 1.5rem;
  --fw-Button: 700;
  --cards-boxShadow: 0px 6px 6px 1px hsla(0, 0%, 47%, 0.753);
}

body {
  font-family: var(--fontFamily);
  background: #e8e8e0;
}

.limited-offer {
  background: var(--bg-Advertisement);
  color: var(--clr-Advertisement);
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.limited-offer p {
  font-size: var(--fsize-Advertisement);
  flex-grow: 1;
  text-align: center;
}

.nav-items * {
  list-style: none;
}

.nav-items {
  width: 100%;
  min-width: 500px;
  background: #fff;
  display: flex;
  padding: 0 20px;
}

.logo {
  align-self: center;
}

.logo img {
  width: 110px;
}

.nav__item a {
  text-decoration: none;
  color: #3c3b37;
}

.nav__item a:hover,
.nav__item--categories li {
  color: #0f7c8f;
}

.nav__item {
  position: relative;
  padding: 1.5rem 1rem;
  font-size: 0.95rem;
  display: flex;
}

.nav__item .drop-down {
  z-index: 10;
  background: #fff;
  border: 1px solid #e8e8e0;
  box-shadow: var(--cards-boxShadow);
  width: 260px;
  padding: 0.8rem 1rem;
  position: absolute;
  top: 66px;
  right: 0;
  opacity: 0;
  visibility: hidden;
}

.nav__item--categories.nav__item:hover .drop-down {
  left: 0;
}

.nav__item:hover .drop-down {
  opacity: 1;
  visibility: visible;
  text-align: center;
}
.nav__item:hover .drop-down li {
  justify-content: space-between;
}
.nav__item:hover .drop-down .btn--drop-down {
  width: 100%;
  margin-top: 0.8rem;
}
.nav__item:hover .drop-down h4 {
  padding-top: 1rem;
}

.drop-down .nav-item {
  padding: 0.3rem 0;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}

.search {
  align-self: center;
  border: 1px solid black;
  border-radius: 25px;
  overflow: hidden;
  padding: 0.2rem 0.3rem;
  display: flex;
  flex-grow: 1;
  flex-shrink: 2;
}
.search .search__icon {
  font-size: 1.2rem;
  color: rgba(73, 73, 70, 0.525);
  padding: 0.5rem;
  padding-right: 0.4em;
  border: none;
  outline: none;
  background: transparent;
}
.search .search__input {
  border: none;
  outline: none;
  font-size: 0.85rem;
  flex-grow: 1;
  padding-left: 2rem;
}

.btn {
  border: none;
  border-radius: 3px;
  font-weight: var(--fw-Button);
  padding: var(--pd-Button);
  outline: none;
  font-size: var(--fsize-Button);
  background: var(--bg-Button);
  color: white;
}

.btn:hover {
  cursor: pointer;
  background: var(--bg-ButtonHover);
}

.nav__item--cart {
  padding-left: 0;
}
.nav__item--cart .drop-down {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav__item--cart .drop-down a {
  color: var(--bg-Button);
}

.btns {
  align-self: center;
  display: flex;
  gap: 10px;
}

.btn.btn--logIn {
  color: var(--bg-Button);
  background: white;
  border: 1px solid var(--bg-Button);
}

.btn.btn--logIn:hover {
  color: var(--bg-ButtonHover);
  border: 1px solid var(--bg-ButtonHover);
}

.section {
  background-image: url(https://img-a.udemycdn.com/notices/home_banner/image_udlite/8a5d045c-2dd2-4a4d-bb0e-a487af8a5aa0.jpg?8ufXKTZ_1cwslj496s_knWz8D86xGBUDY9RYY8EysIIJ9LpJ_zIw7JstLCxTRQpoL-IPvKWH6iDkgu3Bp5N1pZ4hZhhzXQnL3fb6LOkwKBbabxhDqpE00mgyMSmSKXwRA2qgvG8c-jUlLxtKsiO0cmGS6Kuo8e8qfePIb0O30zQUtdOJi-aKhw);
  background-image: url(https://img-a.udemycdn.com/notices/home_banner/image_udlite/f8324ecd-1a8d-4260-8e15-ec8aaeffa1d1.jpg?j9u5l6FTA3INmHjLahI78a7DrNNwvfdclboREXw49yem9L2jIPlnw4-mzsJJ5ze7S3eA_Vm84wjEeFiZsPDx0mku18Yyp__PLYt_r9nLS6AG09mhFKzcedlC10OOJWaYhkM8USDCXwmn6UbjmB9iUf85g7cL1PBKV8pICYygEgjbhEsdlpVDcgwKBbabxhDqpE00mgyMSmSKXwRA2qgvG8c-jUlLxtKsiO0cmGS6Kuo8e8qfePIb0O30zQUtdOJi-aKhw);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 99%;
  margin: 0 8px;
  height: calc(400px - 4vw);
}

.container {
  position: relative;
}

.whatToLearn {
  position: absolute;
  top: 6vw;
  left: 5%;
  background: white;
  display: flex;
  flex-direction: column;
  width: 500px;
  border-radius: 1px;
  padding: 1.3rem 1.5rem;
  margin-bottom: 0.5rem;
  box-shadow: 2px 4px 7px #1c1717;
}
.whatToLearn .h2 {
  font-size: calc(1.5rem + 1vw);
  padding: 0 0 0.8rem;
}
.whatToLearn .h2-tag {
  font-weight: 400;
  font-size: 1.2rem;
  color: #777777;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
.whatToLearn .search-toLearn {
  border: 1px solid #535353;
  border-radius: 3px;
  overflow: hidden;
  padding: 0.2rem 1rem;
  padding-left: 0;
  display: flex;
  flex-grow: 1;
}
.whatToLearn .search-toLearn .search__input {
  border: none;
  outline: none;
  font-size: 1rem;
  flex-grow: 1;
  flex-shrink: 1;
  padding-left: 2rem;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.whatToLearn .search-toLearn .btn--search {
  border: none;
  outline: none;
  background: white;
  color: grey;
  font-size: 1.2rem;
}

.course-section {
  background: #fff;
  padding: 1rem 1.2rem;
  padding-top: calc(5% + 5vw);
  margin-bottom: 0.5rem;
}

.hide {
  display: none;
}

@media (min-width: 1920px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 1080px) {
  .section {
    margin: 0;
  }

  .whatToLearn {
    width: 350px;
    top: 20px;
    left: 30px;
  }
}
@media (max-width: 1024px) {
  .nav__item--business {
    display: none;
  }

  .section {
    height: 325px;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .nav__item--categories,
.nav__item--business,
.nav__item--teach,
.btns,
.nav-items .search {
    display: none;
  }

  .hide {
    display: inline-block;
    padding: 0 0.5rem;
  }

  .nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-items .logo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  .nav-items .search__icon,
.nav-items .cart__icon {
    border: none;
    background: transparent;
    outline: none;
    font-size: 1.2rem;
    padding: 0 0.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
