/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version
*/

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --body-bg-color: hsl(177, 50%, 85%);
  --component-shadow: hsl(177, 50%, 65%);
  --imported-font-family: "Roboto", sans-serif;
}
body {
  background: var(--body-bg-color);
  font-family: var(--imported-font-family);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
}
.options {
  list-style: none;
  padding: 1.2rem 0.5rem;
  background: #fff;
  border-radius: 12px;
  -webkit-box-shadow: 0 2px 10px 0 var(--component-shadow);
  box-shadow: 0 2px 10px 0 var(--component-shadow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.option {
  text-decoration: none;
  color: #000;
  padding: 0.9em 2em;
  border-radius: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.option.selected {
  background: #2c698d;
  color: #f5f5f5;
}
.attributions {
  position: absolute;
  bottom: 50px;
  left: 50px;
}
.attributions p {
  margin: 0.5rem 0;
  padding-left: 1rem;
}
.attributions p:before {
  content: "•";
  padding-right: 0.5rem;
}
code {
  color: green;
  font-weight: bold;
}
@media (max-width: 360px) {
  .options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .option {
    display: block;
  }
}
