/* TODO:
  • animate from circle to the resulted componnent
  • vertical column when exceeds min-width
 */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: hsl(177, 50%, 85%);

  /* shadow based on body background */
  --component-shadow: hsl(177, 50%, 65%);

  --imported-font-size: "Roboto";
}

body {
  /*  For centering component */
  background: var(--body-bg-color);
  font-family: var(--imported-font-size), sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  background: white;
  border-radius: 12px;
  padding: 20px 8px;
  
  box-shadow: 0px 2px 10px 0px var(--component-shadow);
}

.options {
  display: flex;
  list-style: none;
}

.option {
  text-decoration-line: none;
  color: black;
  padding: 14px 24px;
}

/* applied when an element is clicked */
.option.selected {
  background: #2c698d;
  color: whitesmoke;
  border-radius: 10px;

  transition: background 0.2s;
}
